DATABASE_URL=endpoint de la base de datos de postgreSQL
PORT=puerto en el que se ejecutará el servidor (ejemplo: 3000)

JWT_SECRET= clave secreta para firmar los tokens JWT

JWT_EXPIRES_IN= tiempo de expiración del token JWT en segundos (ejemplo: 3600 para 1 hora)